{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" href="{% static 'css/message-style.css' %}">
  
</head>
<body>
    <div id="chat-container">
        <h1>Welcome to {{room_name}} - {{username}}</h1>
        <div id="messages-box">
            <!-- Messages will be dynamically loaded here -->
        </div>

        <form id="message-form">
            {% csrf_token %}
            <input type="hidden" id="username" name="username" value="{{username}}">
            <input type="hidden" id="room_id" name="room_id" value="{{room.id}}">
            <input type="hidden" id="room_name" name="room_name" value="{{room.name}}"> <!-- Ensure this is present -->
            <input type="text" id="message-input" placeholder="Type your message..." required>
            <button type="submit" id="send-button">Send</button>
        </form>
    </div>


    <script src="{% static 'js/room.js' %}"></script>
</body>
</html>
